.post-list__container {
  margin: 0 auto;
  max-width: fit-content;
  width: 100%;
}

.post-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post {
  margin-bottom: 1.5rem;
}

.post__title {
  margin-top: 0;
  font-weight: 500;

  a {
    color: $white;
    text-decoration: none;
  }

  code {
    color: $white;
    text-decoration: none;
  }
}

.post__desc {
  color: $grey;

  code {
    color: inherit;
    text-decoration: none;
  }
}

.post-list__footer {
  padding-top: 3rem;

  p {
    margin-top: 0;
    color: $grey;
    font-size: 0.65rem;
  }
}

.post__date {
  color: $primary;
  font-size: 0.8rem;
}
