$navWidth: 100px;
$meatWidth: 28px;
$meatHeight: 2px;
$burgerContainerHeight: 4rem;

// colors
$lightGrey: #f7f7f7;
$darkGrey: #717171;

$secondary: #94ebeb;
$primary: #fbb86c;
$black: #303030;
$white: #ededed;
$grey: #9b9b9b;

// screenSizes
$medium: 800px;
$large: 1400px;

$baseLineHeight: 1.5;
$scale: 1.414;
$leading: $baseLineHeight * 1rem;
