<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    <title>{{ if .IsHome }}{{ .Site.Title | markdownify | plainify }}{{ else }}{{ .Title | markdownify | plainify }}{{ end }}</title>

    {{ partial "meta.html" . }}

    {{ partial "preloads.html" }}

    {{ block "styles" . }} {{ end }}
    {{ $base_styles_opts := .Scratch.Get "style_opts" | default (dict "src" "scss/pages/home.scss" "dest" "css/home.css") }}

    {{ $currentPage := . }}

    {{ range (slice $base_styles_opts) }}
      {{ $style := resources.Get .src | resources.ExecuteAsTemplate .dest $currentPage | toCSS | minify | fingerprint }}
      <link type="text/css" rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}"/>
    {{ end }}

    {{ with .OutputFormats.Get "rss" }}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end }}

    {{ block "links" . }} {{ end }}
  </head>

  <body>
    {{ if (eq .Title "404 Page not found") }}
    {{ else }}
      {{ partial "burger.html" .}}

      {{ partial "nav.html" .}}
    {{ end }}

    <main>
      {{ block "main" . }} {{ end }}
    </main>

    {{ block "footer" . }} {{ end }}

    {{ $script := resources.Get "js/index.js" | minify | fingerprint }}
      <script src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity | safeHTMLAttr }}" crossorigin="anonymous"></script>
    {{ block "scripts" . }} {{ end }}
  </body>

</html>
