<meta charset="UTF-8">
<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.Description }}{{ else }}{{ .Page.Params.Description }}{{ end }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="HandheldFriendly" content="true">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="theme-color" content="#303030">
<link rel="icon" type="image/svg" sizes="32x32" href="/logo.svg">
<meta name="robots" content="all,follow" />
<meta name="googlebot" content="index,follow,snippet,archive" />
