{{ $icons := .Site.Params.iconOrder | default (slice "Twitter" "GitHub" "Email" "LinkedIn" "Fediverse" "Bluesky") }}

<div class="social-icons">
  {{ range $icons }}
    {{ $icon := anchorize . }}
    {{ if isset $.Site.Params $icon }}
      <a class="social-icons__link" rel="me noopener" title="{{ . }}" href="{{ index $.Site.Params $icon }}" target="_blank">
        <div class="social-icons__icon" style="background-image: url({{print "social/" $icon ".svg" | relURL}})"></div>
      </a>
    {{ end }}
  {{ end }}
</div>
